.wrap {
	display : flex;
}
.content {
	margin-top : 80px;
	margin-left : 40px;
	margin-right : 40px;
	width : 100%;
}

/* admin-header.js start */
.img-box {
	margin : 0px auto;
}
.img-box > img {
	width : 100%;
}
.logout-btn {
	width : 100%;
}
#admin-member, #admin-brokerage, #admin-sell-request, #admin-property {
	cursor : pointer;
}
/* admin-header.js end */

/* admin-member.js start */

.btn-enable {
	
}
.btn-disable {
	cursor : not-allowed;
}

/* admin-member.js end */
