*{
	font-family: '맑은고딕';
	box-sizing: border-box;
}
body {
    padding-top: 70px; /* 예상되는 헤더 높이 (JS가 적용되기 전 임시) */
}
a{
	text-decoration: none; color: inherit;
}
#estateview_wrap{
	width: 1200px;
	margin: 0 auto;
}
.header_nav {
    background-color: white; /* 배경색 추가 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 살짝 그림자 효과 */
    z-index: 1030; /* 다른 요소들보다 위에 위치 */
}
.textarea{
	resize: none;
}
/* 전체 css */

#header{
	border-bottom: 1px solid #f1f2f5;
}
.header_logo{
	width: 25%;
}
.header_logo a{
	display: block; width: 40%; margin: 0 auto;
}
.header_logo a img{
	width: 100%;
}
.search_box{
	width: 50px;
}
.search_img{
	width: 100%;
}
.menu{
	width: 35%;
}
.menu ul li:not(:last-child){
	border-right: 2px solid #e0e0e0;
}
.menu ul li a{
	font-size: 20px; font-weight: 900;
}
.Hlogout{
	margin-top : 640px;
}
