/* 전체 css */
*{
	font-family: '맑은고딕';
	box-sizing: border-box;
}
#header{
	width: 1200px;
	margin: 0 auto;
	border: 1px solid #f1f2f5;
}
.textarea{
	resize: none;
}
.header_logo{
	width: 25%;
}
.header_logo a{
	display: block; width: 40%; margin: 0 auto;
}
.header_logo a img{
	width: 100%;
}
.search_box{
	width: 50px;
}
.search_img{
	width: 100%;
}
.menu{
	width: 35%;
}
.menu ul li:not(:last-child){
	border-right: 2px solid #e0e0e0;
}
.menu ul li a{
	font-size: 20px; font-weight: 900;
}